<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>Arson</string>
	<string>Assault</string>
	<string>Burglary</string>
	<string>Disturbing the Peace</string>
	<string>Drugs / Alcohol Violation</string>
	<string>DUI</string>
	<string>Fraud</string>
	<string>Homocide</string>
	<string>Motor Vehicle Theft</string>
	<string>Robbery</string>
	<string>Sex Crime</string>
	<string>Theft / Larceny</string>
	<string>Vandalism</string>
	<string>Vehicle Break-In</string>
	<string>Weapons</string>
</array>
</plist>
